@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Josefin+Sans|Vollkorn");
/*******************/
/**** $Variable ****/
/*******************/
/*****************/
/**** @Mixins ****/
/*****************/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#wrapper {
  width: 100%;
  height: 860px; }

header {
  margin: 0;
  padding: 0;
  height: 40px; }
  header #logo {
    text-align: center; }
  header #main-nav {
    width: 100%;
    background-color: #262626;
    display: flex;
    flex: 3;
    flex-flow: row wrap;
    justify-content: center;
    position: fixed; }
    header #main-nav ul.nav-list {
      color: white;
      list-style: none; }
      header #main-nav ul.nav-list .nav-list-item {
        font-family: "Josefin Sans", "Vollkorn", "EB Garamond", sans-serif;
        display: inline-block;
        margin: 20px 50px;
        text-transform: uppercase; }
        header #main-nav ul.nav-list .nav-list-item a {
          text-decoration: none;
          color: white; }
          header #main-nav ul.nav-list .nav-list-item a:visited {
            color: white; }
          header #main-nav ul.nav-list .nav-list-item a:hover {
            color: green; }
          header #main-nav ul.nav-list .nav-list-item a:active {
            color: green; }

main h1, main h2, main h3, main h4, main h5, footer h1, footer h2, footer h3, footer h4, footer h5 {
  font-family: "Josefin Sans", "Vollkorn", "EB Garamond", sans-serif; }

main button {
  cursor: pointer; }
main section {
  clear: both;
  width: 100%;
  height: 880px;
  box-sizing: content-box; }
  main section h2 {
    height: auto;
    font-size: 35px;
    display: inline-block;
    background-color: #262626;
    padding: 20px 30px;
    margin: 0;
    color: white; }
main #presentation, main #restaurant, main #menu, main #contact {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto; }
main #presentation .container-parallax {
  display: flex;
  flex: 3;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.8)), url("../img/Carpaccio-Parma-ham-pizza_1903x1269.png");
  height: 880px;
  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  main #presentation .container-parallax .restaurant-title {
    text-align: center;
    margin: auto;
    color: #262626; }
    main #presentation .container-parallax .restaurant-title h1 {
      font-size: 80px; }
    main #presentation .container-parallax .restaurant-title p {
      font-size: 30px; }
    main #presentation .container-parallax .restaurant-title .subtitle {
      font-family: 'Vollkorn', 'EB Garamond', sans-serif; }
    main #presentation .container-parallax .restaurant-title .phoneNumber {
      font-family: "EB Garamond", sans-serif; }
    main #presentation .container-parallax .restaurant-title .btn-display-menu {
      color: #333;
      padding: 25px;
      font-size: 15px;
      font-weight: 600;
      border: 2px solid #333;
      background-color: transparent;
      font-family: 'EB Garamond', sans-serif; }
    main #presentation .container-parallax .restaurant-title .btn-display-menu:hover {
      color: white;
      font-weight: bold;
      border: 2px solid #262626;
      background-color: #262626; }
main #restaurant .section-title {
  width: 100%;
  text-align: center;
  height: 55px;
  border-top: 6px solid #262626; }
main #restaurant .restaurant-items {
  width: 70%; }
  main #restaurant .restaurant-items .bar, main #restaurant .restaurant-items .restaurant, main #restaurant .restaurant-items .notoriete {
    display: block; }
  main #restaurant .restaurant-items .restaurant-item {
    display: -webkit-inline-box; }
    main #restaurant .restaurant-items .restaurant-item img {
      display: inline-block;
      overflow: hidden;
      width: 300px; }
    main #restaurant .restaurant-items .restaurant-item .description {
      height: 225px;
      width: 300px; }
      main #restaurant .restaurant-items .restaurant-item .description h3 {
        display: inline-block; }

/*# sourceMappingURL=style.css.map */
